name: Copy Desktop File to the new GitHub repository and run the file
on: [push]
   
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v1
        
      - name: Git Commands
        run: |
             mkdir C:/Users/ACER/new-file-create-run
             cd C:/Users/ACER/new-file-create-run
             git init
             git pull https://github.com/steja6872/new-file-create-run.git
             git remote add origin https://github.com/steja6872/new-file-create-run.git
             cp C:/Users/ACER/Desktop/java-programs/prime.java C:/Users/ACER/new-file-create-run
             git branch -M main
             git add prime.java
             git commit -m "Add Java file"
             git status
             git push -u origin main
            
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
          
      - name: Run the java file print the RESULT
        run: |
             javac prime.java
             java prime
